* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 60px;
    display: flex;
    justify-content: center;
    font-family: 'Be Vietnam', sans-serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 80px;
}

nav ul a {
    text-decoration: none;
    color: black;
    height: 60px;
    width: 100px;
    text-align: center;
}

nav ul a:hover {
    border-bottom: 5px solid orange;
}

nav ul a p {
    margin-top: 17px;
    font-size: 16px;
}

input{
    margin-top: 14px;
    height: 30px;
    border-radius: 14px 14px 14px 14px;
    border: 0;
    width: 230px;
    background-color: rgb(224, 224, 224);
}

input::placeholder {
    padding-left: 10px;
    font-size: 12px;
    background-image: url(lupa.png);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 205px;
}


nav img {
    height: 40px;
    width: 130px;
    margin-right: 10px;
    margin-top: 10px;
}

.slider {
    height: 530px;
    background-image: url(beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.text-n-btn {
    width: 300px;
    color: white;
    position: relative;
    left: 21%;
    bottom: 3%;
}

.p1 {
    position: relative;
    top: 20px;
}

.p2 {
    position: relative;
    top: 40px;
}

button {
    position: relative;
    top: 70px;
    height: 30px;
    width: 220px;
    border: 0;
    border-radius: 15px 15px 15px 15px;
    background-color: orange;
}

button p {
    text-align: left;
    position: relative;
    left: 10px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.left {
    position: relative;
    top: 40%;
    left: 6%;
}

.r-img {
    position: relative;
    left: 73%;
}

.left img {
    height: 100px;
    width: 100px;
    opacity: 0.3;
}


.text-n-btn img {
    height: 13px;
    width: 13px;
    position: relative;
   top: 72px;
   right: 30px;
}

.last {
    height: 530px;
    width: 70%;
    position: relative;
    left: 15%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(83, 81, 81);
}

.three {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 15%;
}

.top {
    position: relative;
    top: 30px;
}

.last h3 {
    font-size: 16px;
}

.first, .second, .third {
    width: 280px;
}

.first img, .second img, .third img {
    height: 40px;
    width: 40px;
}

.second img, .third img {
    opacity: 0.4;
}

.three p {
    font-size: 13px;
    position: relative;
    top: 40px;
}

.read-more {
    color: orange;
    font-size: 14px;
    position: relative;
    top: 40px;
}

.title {
    position: relative;
    top: 20px;
}

.line {
    height: 15px;
    width: 100%;
    background-color: rgb(214, 214, 240);
    position: relative;
    top: 20%;
}

.three a {
    text-decoration: none;
}

::selection {
    background-color: aquamarine;
}